.acheivements .container div *{
    display: flex;
    flex-direction: column;
    max-width: 88%;
    transition: translate 0.5s ease, transform 0.3s ease-out;
}

.acheivements .container .left {
    align-items: baseline;
}

.acheivements .container .right {
    align-items: end;
}

.acheivements .container .both {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid darkblue;
    border-radius: 20px;
}
.acheivements .container .left:hover * {
    transform: translate(10px);
}

.acheivements .container .right:hover * {
    transform: translate(-10px);
}

