/* Navigation */
.sections span {
    color: var(--secondary-text-color);
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}


.navBar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

#logo::after {
    transform: scaleX(0);
}

@media (max-width: 575px) {
    .sections span {
/*         display: none;
 */

 display: flex;
 flex-direction: column; 
    }

    .sections span:hover {
        display: flex;
        flex-direction: column; 
    }
}
/* Navigation End */