.join .container h1 {
    background-color: var( --secondary-color);
    color: aliceblue;
    font-size: 36px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.join {
    color: var(--secondary-text-color);
}



.join h2{
    color: var(--secondary-color);
}
.join .container img {
    width: 80%;
    border-radius: 40px;
}

.left {
    display: flex;
    align-items: start;

}

.join-button {
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bolder;
}

.join .instructions .container {
    display: flex;
    align-items: start;
}

.join .instructions .container:first-child {
    margin-top: 10vh;
}
.join .instructions .container * {
    margin-bottom: 5vh;
}